@model TimsProject.Models.Employee
@{
    ViewData["Title"] = "Add Employee";
}


<form method="post" asp-controller="Employee" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h1 class="text-info p1-3">Add Employee</h1>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeId" class="form-control" />
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeName" class="form-control" />
                        <span asp-validation-for="EmployeeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeJoinDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeJoinDate" class="form-control" />
                        <span asp-validation-for="EmployeeJoinDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeBirthDate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeBirthDate" class="form-control" />
                        <span asp-validation-for="EmployeeBirthDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeDepartmentId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeDepartmentId" class="form-control" />
                        <span asp-validation-for="EmployeeDepartmentId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="EmployeeProjectId"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="EmployeeProjectId" class="form-control" />
                        <span asp-validation-for="EmployeeProjectId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ManagerId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ManagerId" class="form-control" />
                    <span asp-validation-for="ManagerId" class="text-danger"></span>
                </div>
            </div>


                <div class="form-group row">
                    @*<div class="col-6 offset-4 row">*@
                    <div class="col-4 offset-4">
                        <input type="submit" class="btn btn-info w-100" value="Add" />
                    </div>
                    <div class="col">
                        @if (ViewBag.Message != null)
                        {
                            //<a class="nav-link text-dark btn-primary font-weight-bold" style="margin: 10px; background-color: #ffdd0f;top: 2px " asp-area="" asp-controller="Admin" asp- asp-action="Get">Get All Products</a>
                            <a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #ff8d00;float: right" asp-area="" asp-controller="Employee" asp- asp-action="GetAll">Get All Products</a>
                            <script type="text/javascript">
                                                window.onload = function () {
                                                    alert("@ViewBag.Message");
                                                    
                                                };
                            </script>
                        }
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</form>
