@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
        <button><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #ff8d00; " asp-area="" asp-controller="Employee" asp- asp-action="GetAll">Employee </a></button>

        <button><a class="nav-link text-dark btn-primary font-weight-bold" style="position: relative; margin: 10px; background-color: #ff8d00; " asp-area="" asp-controller="Account" asp- asp-action="SignIn">Tickets</a></button>
    </div>
</div>
